p{
    font-family: Comic Sans MS;
    font-size: xx-large;
    text-align: center;
    background-color: black;
    color: white;
}

td{
    border: 3px solid green;
}

.jeden{
    visibility: hidden;
}

.piąty{
    display: none;
}