li{
    display: inline;
    background-color: aqua;
    color: blueviolet;
    padding: 2px solid blue;
    font-family: Arial;
    font-size: large;
}

li:hover{
    font-size: x-large;
    background-color: chartreuse;
    color: cornflowerblue;
}

li:visited{
    color: crimson;
}